.header__complaint {
    text-decoration: none;
    line-height: 40px;
    font-weight: 700;
    font-size: 14px;
    color: black;
}

@media screen and (max-width: 535px) {
    .header__complaint {
        font-size: 20px;
    }
}
