.header {
    box-sizing: border-box;
    width: 100%;
    padding: 50px 70px 0;
    display: flex;
}

@media screen and (max-width: 815px) {
    .header {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 535px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
}
