.text__subtitle {
  color: #010101;
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

@media screen and (max-width: 815px) {
  .text__subtitle {
    margin-top: 15px;
  }
}

@media screen and (max-width: 500px) {
  .text__subtitle {
    font-size: 20px;
    line-height: 24px;
  }
}
