.intro {
  max-width: 1280px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 100px 70px 105px;
}

@media screen and (max-width: 815px) {
  .intro {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    padding: 25px 40px 70px;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    padding: 0 20px 39px;
    gap: 50px;
  }
}

