.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
  box-sizing: border-box;
  padding: 100px 70px 50px;
  transform: translateX(-150%);
  animation: appearance-left 1.5s forwards;
}

@media screen and (max-width: 815px) {
  .intro {
    grid-template-columns: 1fr;
    padding: 25px 40px 0;
  }
}

@media screen and (max-width: 500px) {
  .intro {
    padding: 30px 20px 0;
    gap: 50px;
  }
}


