.appearance-left {
  transform: translateX(-150%);
  animation: appearance-left 1.5s forwards;
}

@keyframes appearance-left {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateY(0);
  }
}
