.intro__img {
  width: 380px;
  height: 380px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transition: scale 1s, border-radius 1s;
  -o-transition: scale 1s, border-radius 1s;
  transition: scale 1s, border-radius 1s;
}

.intro__img:hover {
  scale: 1.1;
  border-radius: 30%;
}

@media screen and (max-width: 500px) {
  .intro__img {
    height: 280px;
    width: 100%;
  }
  .intro__img:hover {
    scale: 1.05;
  }
}
